.header {
    margin: 0 2.5rem;
    padding: .6rem 0;
    
}
.header .headerleft{
    padding: 10px;
    display: flex;
    align-items: center;
}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

